In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
%cd /content/drive/My Drive/Colab Notebooks/

/content/drive/My Drive/Colab Notebooks

In [53]:
import pandas as pd
df=pd.read_csv("data.csv")
df.head(2)

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.82,2.0,0.0

In [28]:
#calculate total impressions for the age group 30-34
data=df.loc[df["age"]=="30-34","impressions"]
print(data.sum())

35678593.0

In [33]:
#get all ad_ids for every campaign_id (a campaign contains multiple ads)
ids=df[["ad_id","campaign_id"]]
ids

        ad_id campaign_id
0      708746         916
1      708749         916
2      708771         916
3      708815         916
4      708818         916
...       ...         ...
1138  1314410       45-49
1139  1314411       45-49
1140  1314412       45-49
1141  1314414       45-49
1142  1314415       45-49

[1143 rows x 2 columns]

In [52]:
#get total clicks where report_start between dates 19/08/2017 to 22/08/2017 (both inclusive)
clicks=df.loc[df["reporting_start"].between("19/08/2017","22/08/2017"),"clicks"]
print(clicks.sum())

3763